$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);


body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
//   background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
  margin: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

// .active {
//     color: pink;
// }

#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

#header {
    width: 100%;
    // color: rgb(255, 145, 0);
    font-size: xxx-large;
    border-bottom-style: dashed;
    text-align: center;
    border-color: black;
}

#header h1 {
    color: rgb(255, 145, 0);
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
}

#header h2 {
    font-size: 30px;
    margin-top: 5px;
}

#appmain {
    width: 100%;
    text-align: center;
}

#nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

#nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}


#link.active {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border: solid black;
    background-color: black;
}


#link:hover {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border: solid black;
    background-color: black;
}

#link {
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    border: solid black;
    transition: 0.3s ease;
}

#submit {
    background-color: rgb(209, 108, 0);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 30px;
}

#posts {
    margin-left: 40px;
    margin-right: 40px;
}

#posts ul {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    padding-left: 0px;
    justify-content: space-around;
}

#posts ul a {
    text-decoration: none;
    margin-bottom: 20px;
}

#postitem {
    border: solid black;
}

#posttitle {
    margin: 0px;
    padding: 10px;
    border-bottom: solid black;
    background-color: rgb(209, 108, 0);
    color: white;
}

#newPost h2 {
    margin-top: 70px;
}

#tags {
    color: black;
    margin: 0px;
    font-size: smaller;
}

#post {
    margin-left: 10%;
    margin-right: 10%;
    border: solid black;
}

#post h2 {
    border-bottom: solid black;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: xx-large;
    background-color: rgb(209, 108, 0);
    color: white;
}

#delete {
    border: solid rgb(209, 108, 0);
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: $backgroundcolor;
    transition: .3s ease;
}

#delete:hover {
    background-color: rgb(209, 108, 0);
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 30px;
}
